body {background-image: url(bildes/jungle.jpg);}

h1 {font-size: 40px;
    text-align: center;
    color:rgb(117, 206, 113)}

    h2 {font-size: 30px;
        text-align: center;
        color:rgb(162, 243, 157)}

        h3 {font-size: 20px;
            text-align: center;
            color:rgb(255, 255, 255)}

